<a ui-sref="movie"><button class="btn btn-primary"> Go Back to Home Page!</button></a>

<div class="Bahman">
	<div class="panel panel-default">
		<div class="panel heading text-center">
	  		<h1>{{batman.result.Title}}</h1>
   		</div>
   		<div class="panel-body">
   			<div class="col-md-5 col-md-offset-1">
   		 		<img src='{{batman.result.Poster}}'> 
   		 	</div>
   		 	<div class="col-md-6">
	   			<ul>
	   				<li>
	   						<p> Director: {{batman.result.Director}}</p>
	   				</li>
	   				<li>
	   						<p>Reted: {{batman.result.Rated}}</p>
	   				</li>
	   				<li>
	   						<p>Awards: {{batman.result.Awards}}</p>
	   				</li>
	   				<li>
	   						<p>Released: {{batman.result.Released}}</p>
	   				</li>
	   				<li>
	   						<p>Writer: {{batman.result.Writer}}</p>
	   				</li>
	   				<li>
	   						<p>Actors: {{batman.result.Actors}}</p>
	   				</li>
	   				<li>
	   						 <p>Plot: {{batman.result.Plot}}</p>
	   				</li>
	   			</ul>
	        </div>
		</div>	
	</div>
</div>